{% extends 'django_outbox/base.html' %}
{% load i18n %}

{% block content %}
  <article class="outbox-mail">
    <header>
      <ul>
        <li>
          <b>{% trans 'Subject:' %}</b>
          <span>{{ mail.subject }}</span>
        </li>
        <li>
          <b>{% trans 'From:' %}</b>
          <span>{{ mail.from_address }}</span>
        </li>
        <li>
          <b>{% trans 'To:' %}</b>
          <span>{{ mail.to }}</span>
        </li>
        <li>
          <b>{% trans 'When:' %}</b>
          <span>{{ mail.when }}</span>
        </li>
      </ul>
    </header>
    <section class="body">
      {% if body.content_type == 'text/html' %}
        {% autoescape off %}
          {{ body.content }}
        {% endautoescape %}
      {% else %}
        <pre>{{ body.content }}</pre>
      {% endif %}
    </section>
  </article>
{% endblock content %}
