{% extends 'django_outbox/base.html' %}
{% load i18n %}
{% block content %}
  {% if mails %}
    <table class="outbox-table">
      <thead>
        <tr>
          <th>{% trans 'subject' %}</th>
          <th></th>
          <th>{% trans 'from' %}</th>
          <th>{% trans 'to' %}</th>
          <th>{% trans 'when' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for mail in mails %}
          <tr>
            <td>
              {{ mail.subject }}
            </td>
            <td>
              {% for file in mail.body %}
                <a href="{% url 'mail' id=mail.id %}?content_type={{ file.content_type }}&index={{forloop.counter0}}">
                {% if file.filename %}{{ file.filename }}{% else %}{{ file.content_type }}{% endif %}<br/>
                </a>
              {% endfor %}
            </td>
            <td>{{ mail.from_address }}</td>
            <td>{{ mail.to }}</td>
            <td>{{ mail.when }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="outbox-empty">Outbox is empty.</div>
  {% endif %}
{% endblock content %}
